.navcontainer {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid silver;
  /*border: 2px solid red;*/
  vertical-align: text-top;
}

.navtext {
  display: inline-block;
  position: relative;
  bottom: 21px;
  margin: 20px 60px;
  padding: 18px 25px;
  font-size: 20px;
}

p.navitemselected {
  border-bottom: 2px solid white;
  border-left: 2px solid silver;
  border-right: 2px solid silver;
  border-top: 2px solid silver;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 20px 58px;
}


