.flexcontainer {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 30px;
}

.projectcontainer {
  flex: 1;
}

a {
  text-decoration: none;
}

p.description {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.projectlink, .projectheader, .header {
  display: block;
  text-align: center;
}

.projectheader {
  padding-top: 30px;
}

.projectimgcontainer {
  flex: 1;
  width: 300px;
  padding-top: 20px;
  /*overflow: hidden;*/
}

.projectimg {
  width: 300px;
  padding-left: 30px;
  /*margin: auto 0;*/
  transition: transform .2s;
  /*border: 2px solid lime;*/
}

.projectimg:hover {
  transform: scale(2.5);
}

.maincontainer {
  width: 70%;
  margin: 0 auto;
}
